<div class="jumbotron">
  <div class="container text-center">       
  <h1 class="text-center">Welcome to <span class="highlight">afrocuisines</span> </h1>
<br/>
   <p class="lead center">We are a community whose mission is to share the World's best cuisines with an <br/> <strong>African</strong> flavour and twist to it.</p>
        <br/>
        <div>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg" %>
		</div>
        <!-- <a class="btn btn-lg" href="app"> Explore</a> -->
  </div>
</div>
