<div class="jumbotronabout">
  <div class="container text-center">       
  <h1 class="text-center"><span class="highlight">afrocuisines</span> african cuisines</h1>
<br/>
   <p class="lead center">Everyone has a story, this is ours.</p>
        <br/>
        <!-- <a class="btn btn-lg" href="app"> Get the App</a> -->
  </div>
</div>

<div class="container">      
  <div class="col-md-7 col-md-offset-2">
  <div class="row">
	 <h2>afrocuisines</h2>
		 <p>
		 afrocuisines was setup as platform for individuals to directly share african cuisines with the rest of the world. afrocuisines was born from the need to experiment, explore and live through different diverse cultures in africa. 
		 </p>

		 <p>
		 an afrocuisine is any meal that is prepared with an african touch, spin or even just spice to it. Because of this, afrocuisines is meant to inspire and cultivate more dishes by crossing cultures with our food. 
		 </p>

		
  </div>
  </div>
</div>