     <div class="nav">
     <nav class="navbar navbar-static-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
 <a class="navbar-brand" href="/">A F R O C U I S I N E S</a>
  </div>


  <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
    <ul class="nav navbar-nav">
      <li><%= link_to "NEW", new_receipe_path %></li> 
      <li><%= link_to "Sign Out", new_receipe_path %></li> 
    </ul>
  </div><!-- /.navbar-collapse -->

    </div>
    </nav>
  </div>





